.DS_Store
.idea/
env/
photos/
__pycache__/
.pytest_cache/
exploration/
ground/*
.pycharmrc
*.egg-info
bin/
lib/
models/
pyvenv.cfg
simulateur/__init__.pyc

# exception to the rule
!somefolder/.gitkeep
