.DS_Store
.idea/
env/
photos/
__pycache__/
.pytest_cache/
ground/*
exploration/
.pycharmrc
*.egg-info
bin/
lib/
models/
pyvenv.cfg
simulator/__init__.pyc
*.egg


# exception to the rule
!somefolder/.gitkeep
